profiles {
    // standard is kept as an explicit alias of local
    standard {
        process {
            executor = 'local'
        }
    }

    local {
        process {
            executor = 'local'
        }
    }

    lsf {
        process {
            executor = 'lsf'
            queue = 'standard'
            clusterOptions = '-P test'
        }
    }

    slurm {
        process {
            executor = 'slurm'
        }
    }

    pbs {
        process {
            executor = 'pbs'
        }
    }

    sge {
        process {
            executor = 'sge'
        }
    }
}
